.nav-menu {
    margin-left: -8px !important;
}

.nav-item {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500 !important;
    transition: all 0.3s ease-in-out;
    background-color: transparent !important;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e33b28;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-item.active::after {
    width: 100%;
    left: 0;
    background-color: #e33b28;
}

.nav-item:hover {
    color: #e33b28;
}

/* Mobile View */
@media (max-width: 600px) {
    .nav-item {
        display: block;
        padding: 10px 20px;
    }

    .nav-item:hover::after {
        width: 0;
        left: 0;
    }

    .nav-item.active::after {
        width: 0;
        left: 0;
    }

    .nav-item:hover {
        color: #e33b28;
    }

    .nav-menu {
        font-size: 16px !important;
    }
}

/* Desktop and Tablet View */
@media (min-width: 601px) {
    .nav-item {
        padding: 5px 10px;
    }

    .nav-item:hover::after {
        width: 100%;
        left: 0;
    }

    .nav-item.active::after {
        width: 100%;
        left: 0;
        background-color: #e33b28;
    }

    .nav-item:hover {
        color: #e33b28;
    }

    .nav-menu {
        font-size: 14px !important;
    }
}

.signin-btn {
    outline: 2px solid #fff !important;
    background-color: transparent !important;
    color: white;
    text-transform: lowercase !important;
    border-radius: 5px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 17px !important;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.signin-btn:hover {
    background-color: #e33b28 !important;
    outline: none !important;
    color: white !important;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
}

.signin-btn:active {
    transform: scale(1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.signin-btn:focus {
    animation: pulse 1s ease-in-out infinite;
}