.project-container {
    margin: 8px;
    height: calc(100vh - 240px);
    overflow-y: scroll;
    overflow-x: hidden;
    outline: 1px solid #ddd;
    border-radius: 4px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.project-sub-title {
    font-size: 14px;
    color: #fff;
}

.project-header {
    background-color: #258790;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-item h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #258790;
    margin-bottom: 10px;
}

.info-item div {
    margin-bottom: 10px;
    font-size: 1rem;
}

.info-item strong {
    color: #333;
}

.info-item div:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .project-info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .project-header h1 {
        font-size: 2rem;
    }

    .project-header h3 {
        font-size: 1.2rem;
    }
}