.project-container {
    height: calc(100vh - 105px);
    display: flex;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2px 0px 0px 5px;
    border-radius: 5px;
    transition: background 0.2s;
    position: relative;
    font-size: 13.5px;
}

.project-item:hover {
    background: #f5f5f5;
}

.project-options {
    visibility: hidden;
    cursor: pointer;
}

.project-item:hover .project-options {
    visibility: visible;
}

.three-dot-menu {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}

.project-item:hover .three-dot-menu {
    visibility: visible;
}

.all-project-details {
    width: 20%;
    height: 100%;
    padding: 10px;
    background: #f0f0f0;
    outline: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
    margin: 10px 8px 8px 8px;

    p {
        font-size: 16px !important;
        font-weight: normal;
    }

    & p:hover {
        text-decoration: underline;
    }
}


.project-info {
    width: 50%;
    margin: 10px 8px 8px 8px;
}

.base-details {
    outline: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 5px;

    p {
        margin: 0px !important;
        font-size: 18px;
        font-weight: bold;
        color: gray;
    }
}

.details-paremeters {
    height: 93%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    outline: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
}

.selected-project {
    color: #258790;
    font-weight: bold !important;
    text-decoration: underline;
}

.heading {
    font-size: 16px;
    font-weight: 600;
}

.search {
    margin: 5px 0px;
    margin-bottom: 15px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.project-sub-title {
    font-size: 14px;
    color: #fff;
}

.project-header {
    background-color: #258790;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.info-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    form {
        padding: 10px;
    }
}

.info-item p {
    font-size: 16px;
    font-weight: bold;
    background-color: #258790;
    color: #fff;
    padding: 5px 10px;
    margin: 0px !important;
}

.info-item div {
    margin-bottom: 10px;
    font-size: 1rem;
}

.info-item strong {
    color: #333;
}

.info-item div:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
    }

    .all-project-details,
    .project-info {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .project-header h1 {
        font-size: 2rem;
    }

    .project-header h3 {
        font-size: 1.2rem;
    }
}