.main-container-div {
    margin: 8px;
    width: 99%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}

.progress-bars {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 1024px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        padding: 10px;
        white-space: nowrap;
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0px 10px 0px 10px !important;
        margin: 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: row;
            gap: 10px;
        }

        li {
            margin-bottom: 10px !important;
        }
    }

    .step {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        position: relative;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    .line {
        width: 2px;
        height: 30px;
        background: #d6d6d6;
        position: absolute;
        left: 20px;
        top: 40px;
        z-index: -1;

        @media (max-width: 768px) {
            width: 30px;
            height: 2px;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .step.completed .line {
        background: #257180;
    }

    .step.completed .circle,
    .step.active .circle {
        background: #257180;
        color: #fff;
    }

    .step.active .circle {
        background: #414344;
    }

    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #d6d6d6;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }

    .step-title {
        font-size: 14px;
        color: #6c757d;
        margin-left: 10px;

        @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
            margin-left: 0;
        }
    }

    .step.completed .step-title,
    .step.active .step-title {
        color: #000;
    }
}

.form-container {
    padding: 10px;
    min-height: calc(100vh - 256px);
    overflow-y: auto;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    @media (max-width: 1024px) {
        width: 100%;
        padding: 30px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 20px;
        max-height: unset;
    }
}

.form-header {
    font-size: 16px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.form-group {
    margin-bottom: 20px;
    flex-grow: 1;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.btn.previous {
    background: #ccc;
    color: #333;

    &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }
}

.btn.next {
    &:hover {
        background-color: #257180;
    }
}

.main-container-div {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
}

.page-heading-main {
    width: 100%;
    padding: 5px 10px;
    background-color: #257180;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.page-heading {
    font-size: 16px;
    font-weight: 400;
}

.hr-line {
    margin: 0px 0px 10px 0px;
}