.button-container {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.auth-button {
    color: #ffffff;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.google-btn {
    background-color: #DB4437;

    &:hover {
        background-color: #c1351d;
    }
}

.microsoft-btn {
    background-color: #0078D4;

    &:hover {
        background-color: #005ea6;
    }
}

.otp-btn {
    background-color: #FFA500;

    &:hover {
        background-color: #e69500;
    }
}
