.time-builder-page {
    border-radius: 4px;
    margin: 8px;
    width: 99%;
    outline: 1px solid #ddd !important;
}

.timeline-items {
    height: calc(100vh - 314px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0px !important;
}

.title-and-filter {
    margin: 8px 8px 0px 8px;
    display: flex;
    gap: 20px;

    .heading {
        font-size: 18px;
        font-weight: bold;
        color: grey;
        margin-bottom: 6px;
    }
}

.timeline-steps {
    padding: 10px 10px;
    border-radius: 4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.filters {
    margin: 0px 8px 8px 8px;
    border-radius: 4px;
    display: flex;
    gap: 20px;
}

.action-buttons {
    margin: 5px 0px !important;
    display: flex;
    justify-content: space-between;

    button {
        padding: 14px 20px !important;
    }
}

.ant-table-thead>tr>th {
    background-color: #258790 !important;
    padding: 10px !important;
    color: #fff !important;
    position: sticky !important;
    z-index: 10;
}

.ant-table-tbody>tr>td {
    background-color: #fafafa !important;
    padding: 10px !important;
}

.float-right {
    float: right;
}

.ant-steps-item-icon,
.ant-steps-item-tail {
    display: none !important;
}

.ant-steps {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.ant-steps-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-right: 1px;
    padding: 2px 5px !important;
    color: gray;
    font-weight: 500;
    transition: color 0.3s ease;
}

.ant-steps-item-finish {
    background-color: #166a75;
    color: #fff !important;
    border-radius: 4px;
    border-radius: 0px !important;

    .ant-steps-item-title {
        color: #fff !important;
    }
}

.ant-steps-item-active {
    color: #000;
    font-weight: bold;
    padding: 0px 10px !important;
    border-bottom: 4px solid #166a75;
}

.ant-steps-item-wait {
    color: gray;
}

.ant-steps-item .ant-steps-item-title {
    font-size: 16px;
    text-transform: capitalize;
}