@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

* {
    /* font-family: 'Syne', Arial, Helvetica, sans-serif !important; */
    font-family: sans-serif !important;
}

.text-primary {
    color: #e33b28 !important;
}

.text-secondary {
    color: #257180 !important;
}

.text-tertiary {
    color: #6c757d !important;
}

.bg-primary {
    background-color: #e33b28 !important;
}

.bg-secondary {
    background-color: #257180 !important;
}

.bg-tertiary {
    background-color: #6c757d !important;
}